* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.everything {
    display: flex;
    justify-content: space-between;
}

img {
    position: relative;
}

input {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.title {
    margin-top: 8rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.title > div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

form {
    padding: 2rem;
    background-color: whitesmoke;
}

form > h1 {
    text-align: center;
    padding-bottom: 2rem;
}

fieldset {
    border: 1px solid #E5E7EB;
}

.pair-one,
.pair-two,
.pair-three {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

label, input{
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid black;
    border-radius: 7px;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 5px blue;
    border:1px solid blue;
}
input:focus:hover {
    outline: none;
    box-shadow: 0px 0px 5px blue;
    border:1px solid blue;
}

.last-stage {
    margin-left: 15rem;
    margin-top: 2rem;
}

button {
    padding: 1rem 2rem;
    font-size: 17px;
    border: 2px solid #596D48;
    background-color: #596D48;
    color: whitesmoke;
    border-radius: 6px;
    margin-bottom: 1rem;
}

button:hover {
    cursor: pointer;
}

button:active {
    color: #596D48;
    background-color: whitesmoke;
}

.last-stage a, .last-stage a:visited {
    text-decoration: none;
    color: #596D48;
}

#display-on-image {
    position: absolute;
    bottom: 8px;
    left: 200px;
    color: white;
}

#display-on-image a, #display-on-image a:visited{
    color: whitesmoke;
}